*.o
*.DS_Store
unfolding/output/*
!unfolding/output/README.txt 
unfolding/input/measurements.txt
unfolding/input/mlem.cfg
*.exe
unfolding/backups/*
unfolding/input/plot.cfg
unfolding/input/map.cfg
unfolding/input/auto.cfg
unfolding/input/auto_mlem.cfg
unfolding/input/plot_lines.cfg
unfolding/input/plot_spectra.cfg
unfolding/input/plot_surface.cfg
map_file.csv