*.o
*.DS_Store
unfolding/input/measurements.txt
unfolding/input/mlem.cfg
unfolding/input/unfold_spectrum.cfg
*.exe
unfolding/backups/*
unfolding/input/plot.cfg
unfolding/input/map.cfg
unfolding/input/auto.cfg
unfolding/input/auto_mlem.cfg
unfolding/input/auto_unfold_spectrum.cfg
unfolding/input/plot_lines.cfg
unfolding/input/plot_spectra.cfg
unfolding/input/plot_surface.cfg
map_file.csv
unfolding/input/protons
unfolding/input/response
unfolding/input/spectra
unfolding/input/surface